<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Doc Repo</title>
	{% endif %}
	<style>
		body {
			background: #E6EAFB;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			-ms-overflow-x: hidden;
			    overflow-x: hidden;
		}
		.main-content {
			width: 80%;
			margin: 10% auto;
			background: #;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		}
		.btn-round {
			border-radius: 20px;
		}
		.fs-10 {
			font-size: 10px;
		}
		.bg-purple {
			background: #6a74ca;
		}
		.folder-1 {
			background: url('folder-vector.png')no-repeat;
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			margin: 0;
		}
		.w-48 {
			width: 48%;
			margin-left: 2%;
		}
	</style>
</head>
<body>
	<div class="main-content shadow">
		{% with messages = get_flashed_messages(with_categories = True) %}
		  	{% if messages %}
	    		{% for category, message in messages %}
	      			<div class="alert alert-dismissible fade show" role="alert">
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    	<span aria-hidden="true">×</span>
					  	</button>
					  	<div class="text-center alert alert-{{ category }}">{{ message }}</div>
					</div>
	    		{% endfor %}
		  	{% endif %}
		{% endwith %}


		{% if error %}
			<div class="alert alert-dismissible fade show" role="alert">
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">×</span>
			  	</button>
			  	<div class="text-center alert alert-danger">{{ error }}</div>
			</div>
		{% endif %}

		{% if msg %}
			<div class="text-center alert alert-success">{{ msg }}</div>
		{% endif %}
		<div class="row">
			<div class="col-sm-2">
				<div class="rounded-left">
					<div class="d-lg-inline-block container pt-5 pb-5">
						<h4 class="text-dark">docStore</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<a href="/home" class="text-dark">
					<sapn><i class="fas fa-arrow-left mt-3"></i></sapn>
				</a>
				<h4 class="text-dark font-weight-bold mt-2">Create an Account</h4>
				<div class="row">
					<form action="" method="POST" class="form-group mt-2 p-4 bg-light mb-5">
						<div class="form-group">
							<input type="text" class="form-control d-inline w-50 float-left" name="first" placeholder="First Name*" required>
							<input type="text" class="form-control d-inline w-48 float-right mb-3" name="last" placeholder="Last Name*" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="username" placeholder="Username*" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="email" placeholder="Email*" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" placeholder="Password*" required>
						</div>
						<div class="form-group">
							<input type="submit" name="submit" value="Sign Up" class="btn btn-primary btn-block">
						</div>
						<div class="form-group form-check-inline">
							<label for="T_Cs" class="form-check-label">By clicking "Sign Up", you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Statement</a>. We ocassionally send you account related Emails.</label>
						</div>
						<div class="form-group">
							<p class="text-muted text-center">Already have an account? <a href="/login">Login</a></p>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>		
</body>
</html>